:root {
  --color-primary: #2e2f42;
  --color-secondary: #434455;
  --color-primary-blue: #404bbf;
  --color-white: #ffffff;
  --color-bg-image: #e7e9fc;
  --color-text-bg: #4d5ae5;
  --color-white-darker: #f4f4fd;
}
body {
  background-color: var(--color-white);
  background-size: cover;
  
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
*,
*::before *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
span{
  padding: 0;
  margin: 0;
}

.container {
  max-width: 428px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* background */


/*--------------------------------------------------------------------- Main -------------------------------------------*/

.main-section {
  position: relative;
  background-image: url("../image/bg.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1; 
}
.main-section::after {
  content: "";
  background: url("../image/girl.png") no-repeat right top;
  position: absolute;
  top: 26px;
  right: 142px;
  width: 765.49px;
  height: 1148px;
  z-index: 0;
  pointer-events: none;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 20px;
  z-index: 2;
}

.main-first-block{
  display: flex;
  flex-direction: column;
}

.main-text{
  font-family: "Cormorant", serif;
  font-size: 133px;
  font-weight: 500;
  color: #ffffff;
  align-items: center;
  line-height: 0.86;
}

.main-text-gradient{
  display: block;
  background: linear-gradient(
    90deg,
    #473939 0%,
    #010101 20%,
    #1a1a1a 50%,
    #010101 80%,
    #302525 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  background-clip: text;
  color: transparent;
}

.main-sectext-gradient{
  display: block;
   background: linear-gradient(
    90deg,
    #910404 0%,
    #A60000 15%,
    #E40000 52%,
    #A60000 79%,
    #4e0404 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  background-clip: text;
  color: transparent;
}

.main-paragraph{
  font-family: "Inter", serif;
  font-size: 14px;
  font-weight: 500;
  align-items: center;
}

.top-text{
padding-top: 56px;
}

.second-text{

}

/* sitebar */

.sidebar {
  background-color: #ffffff;
  position: absolute;
  left: 275px;
  top: 144px;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 35px;
  width: 101px;
  height: 400px;
  gap: 69px;
  z-index: 2;
}

.sitebar-text {
  font-size: 23px;
  rotate: -90deg;
  color: #c0bbbb;
  white-space: nowrap;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.icon-headdress {
  width: 62px;
  height: auto;
  fill: #c0bbbb;
}
